## Load and show

In [1]:
import pyspark
print(pyspark.__version__)

2.4.5

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("Basics02").getOrCreate()

In [4]:
path = "Python-and-Spark-for-Big-Data-master/Spark_DataFrames/people.json"
df = spark.read.json(path)

In [5]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [6]:
df.columns

['age', 'name']

In [7]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [8]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

## Select columns

In [9]:
df["age"] # return a column object, helpful for filtering later

Column<b'age'>

In [10]:
type(df["age"])

pyspark.sql.column.Column

In [11]:
df.select("age") # return a data frame with a single column

DataFrame[age: bigint]

In [12]:
type(df.select("age"))

pyspark.sql.dataframe.DataFrame

DataFrame object is more flexible than column object. It has more methods. For example, the show method

In [13]:
df.select("age").show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

## Select rows

In [14]:
df.head(2) # return the first 2 rows

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [15]:
# each row is a row object
type(df.head(2)[0])

pyspark.sql.types.Row

## Select multiple columns

In [16]:
df.select(["age", "name"]).show() # return a data frame of 2 columns

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

## Create new column and rename column

In [17]:
df.withColumn("double_age", df["age"]*2).show()   #This doesn't change the original data

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [18]:
df.show() # withColumn is not an inplace operation, the original data is unchanged

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [19]:
df.withColumnRenamed("age", "new_age").show() #rename, also doesn't change the original data frame

+-------+-------+
|new_age|   name|
+-------+-------+
|   null|Michael|
|     30|   Andy|
|     19| Justin|
+-------+-------+

## Using sql with spark

In [20]:
# first: regsiter the data frame as sql temporary view
df.createOrReplaceTempView("people")

In [21]:
# using sql command directly, returns data frame
results = spark.sql("SELECT * from people")

In [22]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [23]:
new_results = spark.sql("SELECT * from people WHERE age=30")

In [24]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+